.transaction-table-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.transaction-table-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.transaction-table {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #f9fafb;
  font-weight: 600;
  border-bottom: 2px solid #d1d5db;
}

.header-date-column {
  width: 16.666667%;
  font-size: 0.875rem;
  padding-left: 0.5rem; 
}

.header-data-columns {
  width: 83.333333%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; 
}

.header-column {
  width: 25%;
  font-size: 0.875rem;
  padding: 0 0.5rem; 
  box-sizing: border-box; 
}

.header-column-amount {
  text-align: right;
  padding-right: 0.5rem; 
}

.transaction-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #fff;
}

.transaction-row:hover {
  background-color: #f3f4f6;
}

.date-column {
  width: 16.666667%;
  font-size: 0.875rem;
  padding-left: 0.5rem; 
}

.data-columns {
  width: 83.333333%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5db;
  box-sizing: border-box;
}

.column {
  width: 25%;
  font-size: 0.875rem;
  padding: 0 0.5rem; 
  box-sizing: border-box;
}

.column-amount {
  text-align: right;
  padding-right: 0.5rem;
}


@media (max-width: 768px) {
  .transaction-table-container {
    max-width: 100%;
    padding: 0 1rem;
  }

  .header-date-column,
  .date-column {
    font-size: 0.75rem;
  }

  .header-column,
  .column {
    font-size: 0.75rem;
  }
}